<h1 class="page-header text-center">News Lister</h1>
<form role="form" name="searchForm" class="form-horizontal contract-form" novalidate>
    <div class="form-group">
        <label class="col-sm-4 control-label" for="searchTxt">Enter search text:</label>
        <div class="col-sm-6">
            <input type="text" id="searchTxt" name="searchTxt" class="form-control contact-name-input" data-ng-model="searchText" required />
            <span class="text-danger" data-ng-show="searchSubmitted && searchForm.searchTxt.$error.required">You must enter a search text.</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-3">
            <button type="submit" class="btn btn-outline btn-lg btn-block" data-ng-click="getResults()">Search</button>
        </div>
    </div>
</form>